.so-widget-service-box-service-box-style-00b59474eb37 .service_top {
  text-align: center;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_top .content h3 {
  margin: 10px;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_top .content .btn_style {
  margin: 10px 0;
  display: inline-block;
  text-decoration: none;
  outline: none;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_left {
  text-align: left;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_left .icon {
  vertical-align: top;
  padding-right: 15px;
  display: table-cell;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_left .icon_image {
  vertical-align: top;
  padding-right: 15px;
  display: table-cell;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_left .icon_image img {
  max-width: none;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_left .content {
  display: table-cell;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_left .content h3 {
  margin-top: 0;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_left .content .btn_style {
  margin: 10px 0;
  display: inline-block;
  text-decoration: none;
  outline: none;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_right {
  text-align: right;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_right .icon {
  vertical-align: top;
  padding-left: 15px;
  display: table-cell;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_right .icon_image {
  vertical-align: top;
  padding-left: 15px;
  display: table-cell;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_right .icon_image img {
  max-width: none;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_right .content {
  display: table-cell;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_right .content h3 {
  margin-top: 0;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_right .content .btn_style {
  margin: 10px 0;
  display: inline-block;
  text-decoration: none;
  outline: none;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_top,
.so-widget-service-box-service-box-style-00b59474eb37 .service_left,
.so-widget-service-box-service-box-style-00b59474eb37 .service_right {
  background-color: transparent;
  padding: 24px;
}
.so-widget-service-box-service-box-style-00b59474eb37 .top_b {
  border-top: solid;
  border-width: 3px;
  border-color: #8eba41;
}
.so-widget-service-box-service-box-style-00b59474eb37 .right_b {
  border-right: solid;
  border-width: 3px;
  border-color: #8eba41;
}
.so-widget-service-box-service-box-style-00b59474eb37 .bottom_b {
  border-bottom: solid;
  border-width: 3px;
  border-color: #8eba41;
}
.so-widget-service-box-service-box-style-00b59474eb37 .left_b {
  border-left: solid;
  border-width: 3px;
  border-color: #8eba41;
}
.so-widget-service-box-service-box-style-00b59474eb37 .icon {
  color: #000000;
  line-height: 0;
}
.so-widget-service-box-service-box-style-00b59474eb37 .icon_image {
  margin-bottom: 15px;
}
.so-widget-service-box-service-box-style-00b59474eb37 .content h3 {
  color: #000000;
}
.so-widget-service-box-service-box-style-00b59474eb37 .content {
  color: #000000;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_top .content .btn_style,
.so-widget-service-box-service-box-style-00b59474eb37 .service_left .content .btn_style,
.so-widget-service-box-service-box-style-00b59474eb37 .service_right .content .btn_style {
  background-color: transparent;
  color: #000000;
}
.so-widget-service-box-service-box-style-00b59474eb37 .service_top .content .btn_style:hover,
.so-widget-service-box-service-box-style-00b59474eb37 .service_left .content .btn_style:hover,
.so-widget-service-box-service-box-style-00b59474eb37 .service_right .content .btn_style:hover {
  background-color: transparent;
  color: #000000;
}